.spinner {
  border-radius: 50%;
  border-top: 1rem black solid;
  animation-name: spinner;
  animation-iteration-count: infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
