.product-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-form input {
  border: 1px solid black;
  border-radius: 0.4rem;
  padding: 0.2rem;
}
.input-group {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-content: space-around;
  gap: 0.4rem;
  align-items: center;
}
.input-group textarea {
  border: 1px solid black;
  border-radius: 0.5rem;
}
.select-group {
  width: 80%;
  margin: auto;
}
.submit-btn {
  border: 2px solid black;
  color: var(--main-button-text-color);
  max-width: 5rem;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  margin: 0rem auto;
  background-color: var(--main-button-color);
}
