.user-information {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
  align-items: center;
}
.comment {
  margin-top: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.filled-rating {
  color: rgb(177, 151, 7);
}
.empty-rating {
  color: transparent;
  fill: none;
  stroke-width: 10px;
  stroke: black;
}
