.filter-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.filter-options > li {
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-highlight-color);
}
.filter {
  padding: 0rem 0.4rem;
}
